

body {
    margin: auto 10px;
    width: auto;
    height: 700px;
    background-color: #5446b0;
    
}

h2 {
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(49, 63, 29);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.text {
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}